.centered {
  @apply flex justify-center items-center flex-col;
}

.h1 {
  @apply text-4xl p-8;
}
.h2 {
  @apply text-3xl p-2;
}

.header-title {
  @apply text-3xl px-10 py-6 flex justify-start px-16;
}
.logo-text {
  @apply text-3xl px-10 py-6 flex justify-center text-white;
}
