.track-box {
  @apply shadow-md rounded-md px-10 py-10 my-4 flex justify-between items-center gap-14;
  position: relative;
  width: 100%;
}

.track-upload-box {
  @apply w-full shadow-md rounded-md px-10 py-10 my-4 gap-14;
}

.track-img {
  @apply w-12 h-12 rounded;
}

.track-time {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.track-detail__title_track {
  @apply flex self-start justify-self-start text-3xl font-bold;
}

.track-detail__title_artist {
  @apply flex self-start justify-self-start text-2xl py-10 font-medium;
}

.track-detail__listens {
  @apply flex self-start justify-self-start text-base font-normal text-gray-300;
}

.track-detail__box {
  @apply shadow-md rounded-md px-10 py-10 my-4 flex gap-14 w-full;
  position: relative;
}
